# ==============================================================================
# Игнорируем папки виртуального окружения Python
# ==============================================================================
env/
venv/
.venv/

# ==============================================================================
# Игнорируем кэш Python, Jupyter и конфигурации сборки
# ==============================================================================
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# ==============================================================================
# Игнорируем папки с исходными датасетами, архивами и логами
# ==============================================================================
data/
**/archive/
*.zip
*.tar.gz
*.rar
*.log

# ==============================================================================
# Локальные настройки редакторов и операционных систем
# ==============================================================================
.vscode/
.DS_Store
.AppleDouble
.LSOverride

# ==============================================================================
# Секреты, логи и временные файлы Streamlit
# ==============================================================================
.streamlit/config.toml
.streamlit/secrets.toml
.env
.env.local
app2.py

# ==============================================================================
# ПРАВИЛО ДЛЯ GIT LFS (УБЕДИСЬ, ЧТО ЭТИ СТРОКИ ТУТ ЕСТЬ ДЛЯ КОРРЕКТНОЙ РАБОТЫ)
# Файлы .pt НЕ должны быть здесь закомментированы или заигнорены, 
# так как их отслеживает Git LFS!
# ==============================================================================

# Игнорируем физические файлы весов моделей
models/*.pt
notebooks/*.pt